.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
video.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
video.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
videov
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
video.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
v
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
video.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

ul {
  /* align-content: center; */
  width: 50%;
  margin: auto;


}
li {
  list-style-type: none;
  /* display: block; */
  color: white;
  font-size: 2vw;
  border:1px solid black;
  background-color: beige;
}

li:hover {
  background-color: lightblue;

}

input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  /* padding: 100px; */
  /* margin-top: 600px; */
}

.header {
  color: aqua;
}
