.App {
  text-align: center;
}
body {
  background: url(https://c1.wallpaperflare.com/preview/75/797/190/neon-neon-font-advertisement-advertising.jpg) no-repeat;
  background-size: 100%;
}

/* ul {
  width: 50%;
  margin: auto;
}
li {
  list-style-type: none;
  opacity: 0.7;
  color: black;
  font-size: 2vw;
  border:1px solid black;
}

li:hover {
  background-color: lightblue;

}
 */

ul {
  width: 70%;
  margin: auto;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: yellow;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  /* display: block; */
  width: 200px;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}


input { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: lightblue; */

}
textarea { 
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 0%;
  padding: 14px 400px;
  background-color: #e7e7e7; color: black;
}

fieldset {
  border:2px solid blue;
  border-radius:8px;
  color: white;
}

.form {
  padding: 100px;
}

.header {
  color: aqua;
}